---
const pageTitle = "projects";

const allPosts = await Astro.glob('../pages/projects/*.md');
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="containertype">
        <div class="typed">{pageTitle}</div>
    </div>

    <p></p>
    <div class="blogPostCont">
        {allPosts.map((post) => (
            <div class="blogPostBox">
                <a href={post.url} class="blogPostLink">
                    <div class="imageContainer">
                        <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} class="images" />
                        <div class="imageOverlay">
                            <p class="postDate">{post.frontmatter.pubDate}</p>
                            <p class="pgTitle">{post.frontmatter.title}</p>
                            <p class="postExcerpt">{post.frontmatter.description}</p>
                        </div>
                    </div>
                </a>
            </div>
        ))}
    </div>
</BaseLayout>

<style>
    
    .imageContainer {
        position: relative;
        overflow: hidden;
        gap: 20px; 
        width: 100%;
        
       
        transition: border-radius 0.5s ease-in-out;
    }

    .images {
        
        border-radius: 10px;
        width: 100%;
        height: auto;
        display: block;
        animation: blockIn 1s ease;
        
    }

    .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
        
        color: white;
        
        transition: opacity 0.3s ease;
    }
    postExcerpt,
.postDate,.postExcerpt {
    opacity: 0; /* Hide the excerpt and date by default */
    transition: opacity 0.3s ease;
}

.imageContainer:hover .imageOverlay {
    background-color: rgba(0, 0, 0, 0.301);
    opacity: 1; /* Show the image overlay on hover */
}

.imageContainer:hover .postExcerpt,
.imageContainer:hover .postDate {
    opacity: 1; /* Show the excerpt and date on hover */
}

.postDate,
.tags,.postExcerpt {
    font-size: 12px;
    margin-bottom: 5px;
}
    .postDate:hover,
    .postExcerpt:hover {
        opacity: 1;
    }
    .tags span {
        margin-right: 5px;
    }

    .blogPostLink {
        color: inherit;
        text-decoration: none;
    }

    /* Border animation */
    .blogPostBox {
        width: 100%;
        margin-bottom: 100px;
        overflow: hidden;
        position: relative;
        padding: 10px;
        margin: 0px;
        
        box-sizing: border-box;
        border-radius: 10px;
        transition: transform 0.15s ease-in-out;
    }

    @keyframes blockIn {
    0% {
        filter: blur(0px);
        
        
    }
    25% {
        
        filter: blur(2px);
        opacity: 1;
    }
    50% {
        filter: blur(0px);
    }
    75% {
        filter: blur(0px);
    }
    100% {
        
        filter: blur(0);
        
    }
    
    }
    .pgTitle {
    opacity: 1;
    font-weight: bold;
    font-style: bold;
    opacity: 0.3;
    font-size: 60px;
    transition: font-style 0.3s ease, transform 0.3s ease;
}


.imageContainer .pgTitle {
    opacity: 0.9;
    
    }
.imageContainer:hover .pgTitle {
    opacity: 1;
    
    
    transform: translateX(20%);
    }

    .blogPostBox:hover {
        transform: scale(1.1);
        animation: blockIn 1s ease;
        z-index: 100;
    }
    
</style>
